.sidebar {
  width: 220px;
  background: #1e293b;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed; 
  height: 100vh;

}

.sidebar a {
  text-decoration: none;
  color: white;
  padding: 10px 12px;
  border-radius: 8px;
  transition: 0.2s;
}

.sidebar a:hover {
  background-color: #334155;
}

.active-link {
  background-color: #2563eb;
  font-weight: bold;
}